dist/
/.idea
.idea
./.idea
./idea
cmake-build-debug/
ucode-marathonC-Race00-Virtual-Reality/main_pyramid.c
result
a.out
*.out
CMakeLists.txt
./.DS_Store
.DS_Store
._DS_Store
main_cube.c
mx_cube
mx_pyramid
